/* Shubha Ravikumar, FNU Account: jadrn046
CS545, Fall 2014
Project #2 */
img {
	height: 250px;
	width: 650px;
	margin-left: 220px;
	margin-top: 10px;
}

.heading {
	margin-top: 5px;
	background-color: #008080;
	color: white;
	padding-left: 3px;
	text-align: center;
}

.programList {
	padding-left: 40px;
}

.program img {
	height: 250px;
	width: 325px;
	float: left;
	margin: 15px 15px 5px 15px;
}